{% extends 'BaseApp/base.html' %}

{% block content %}

<div class="container content_block">
    <h2 class="registry_title">{{title}}</h2>

    <form method="post">
        {% csrf_token %}

        {% for f in form %}
        <p class="form_cont"><label  class="form_cont"  for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="form_block copy_btn submit_btn">Сменить пароль</button>
    </form>
</div>

{% endblock content %}